# Used to manage project dependencies
node_modules/

# Contains package dependencies and metadata
.spago/

# PureScript build artifacts
output/

# Temporary file created by the PureScript REPL
.purs-repl

# Personal to-do list
.todo

# Store any other untracked files here
temp/

