# Used to manage project dependencies
node_modules/

# PureScript REPL cache
.psci_modules

# Contains package dependencies and metadata
.spago/

# PureScript build artifacts
output/

# Parcel production build files
dist/

# Parcel build cache
.parcel-cache/

# Temporary file created by the PureScript REPL
.purs-repl

# Personal to-do list
.todo

# Store any other untracked files here
temp/

