html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;    /* Prevent window scrolling */
    background-color: black;
}

button {
    background-color: rgb(0, 0, 0, 0.5);
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

button:hover {
    background-color: rgba(127, 127, 127, 0.75);
}

label {
    display: block;
    font-family: serif;
}

button, output, .range-container {
    font-family: sans-serif;
    font-weight: bold;
    padding: 1em;
}

label, output, .range-container {
    background-color: rgba(0, 0, 0, 0.8);
}

button, label, output, .range-container {
    color: white;
    font-size: 1em;
    text-align: center;
}

label, button, output, .range-container, .vertical, .horizontal {
    flex: 1;
}

.vertical {
    flex-flow: column nowrap;
}

.horizontal, #settings {
    flex-flow: row wrap;
}

.vertical, .horizontal, #settings {
    display: flex;
}

label, button, output, .range-container, .vertical, .horizontal, #settings {
    border: 1px solid white;
}

#canvas {
    cursor = "auto";
}

#settings {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

